*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* colours them 1*/
    /* --colour1:#283618;
    --colour2:#606c38;
    --colour4:#dda15e; */
    
    /* colour them 2 */
    --colourmain:##f4faff;
    --colour1:#2F4156;
    --colour2:#567C8D;
    --colour3:#C8D9E6;
    --colour4:#F5EFEB;
    --colour5:#FFFFFF;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: var(--colourmain);
}

nav{
    width: 100%;
    height: 12%;
    background-color:var(--colour1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;   

}

nav .logo{
    text-transform: capitalize;
    font-size: 30px;
    padding: 0px 8px;
    letter-spacing: 2px;
    color: var(--colour3);
}
nav .logo span{
    color: var(--colour4);
    font-weight: 600;
}

nav .login{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .login button{
    width: 80px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    transition: 0.1s;
    background-color: var(--colour3);
    color: var(--colour1);
    font-weight: 600;
    transition: 0.9s;
}
.login button:hover{
    background-color: var(--colour4);
    transform: scale(95%);
}
nav .login .profile{
    width: 35px;
    height: 35px;
    background-color:var(--colour4);
    border-radius: 50%;
    border: 2px solid var(--colour2);
    transition: 0.5s;
}
.login .profile:hover{
    border: 3px solid var(--colour1);
}
/* -------------------------main----------------------- */
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 60px; 
}

.context-1{
    height: 220px;
    flex-basis: 55%;
}
.context-1 .sub-head h1{
    font-size: 56px;
    
}
.context-1 .sub-head h2{
    font-size: 32px;

}
.context-1 .sub-head p{
    font-size: 20px;
    margin-top: 20px;
}
.context-2{
    flex-basis: 40%;
    height: 220px;
    background-image: url(img/fist001.png);
    /* overflow: hidden; */
    background-size: cover;
    /* background-position:center;   */
}
.context-2 img{
    width: 100%;
    filter:opacity(20%);
}
.mid-text{
    height: fit-content;
    width: fit-content;
    margin-top: 60px;
    margin-left: 10px;
    transition: 1s;
}
.mid-text:hover{
    font-size: 17px;
}
/* ---------------------box------------------------------- */
.box{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box .bb{
    width: 220px;
    height: 220px;
    transition: 0.2s;
    -webkit-user-select:none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.bb:hover{
    transform: scale(95%);
    cursor: pointer;
}

.box .bb .part-1{
    width: 100%;
    height: 40%;
    background-color: var(--colour1);
    border-radius: 20px 20px 0 0;
    text-transform: capitalize;
    color: var(--colour3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .bb .part-2{   
    width: 100%;
    height: 60%;
    background-color: var(--colour3);
    border-radius: 0 0 20px 20px;
    padding: 20px 10px;
    text-align: center;
    color: var(--colour1);
}
.box .bb .cir-img{
    position: relative;
    left: 42%;
    top: -155px;
    width: 40px;
    height: 40px;
    background-color:var(--colour4);
    border-radius: 50%;
}

#links{
    width: 100%;
    height: 100vh;
    background-color:var(--colourmain);
    display: flex;
    justify-content: center;
    align-items: center;
}

.syll{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.syll h3{
    font-size: px;
    width: fit-content;
    color: #262626;
    padding: 20px;
    text-transform: capitalize;
}
.item{
    width: 95%;
    height: 60vh;
    padding: 60px 100px;
    display: flex;
    flex-wrap: wrap;
  
}
.ss{
    width: 360px;
    height: 80px;
    background-color:var(--colour3);
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 25px;
    font-weight: 600;
    color: var(--colour1);
    transition: 0.8s;
}
.ss:hover{
    transform: scale(95%);
    box-shadow: 1px 1px 25px var(--colour2);
    color: rgb(0, 0, 0);
}

/* -------------------contact----------------------- */
#page2{
    width: 100%;
    height: 94vh;
    background-color: var(--colour1);  
    padding : 5% 10% ;
    color: #000000;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;   
    color: var(--colour3);                            
}

.btn.btn2{
    display: inline-block;
}
.rowsss{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.cov{
    display: flex;
}
.contact-left .p-l{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 35px;
}
.contact-left .p-l .icon{
    width: 25px;
}
.contact-left .p-r{
    width: fit-content;
    padding: 10px;
}
.contact-left p{
    width: fit-content;
    margin-top: 30px;
    color: var(--colour3);
    font-size: 18   px;
}

.social-icons {
    margin: 30px 0 0;
    display: flex;
}
.icon{
    width: 25px;
    margin: 0 10px;
}
.icon img{
    width: 100%;
    background-size: cover;
    transition: transform 0.5s;
}

.social-icons img:hover{
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background:var(--colour2);           
    font-size: 1.5em;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border: 1px solid var(--colour1);    
    border-radius: 6px;
    text-decoration: none;
    color: var(--colour4);
    transition: background 0.5s;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--colour3);  
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 10px;
}
::placeholder{
    color: #000000;
    font-weight: 500;
}
form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    height: 6vh;
    background-color: var(--colour3);
    color:#4b4b4b;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
}




@media only screen and (max-width: 600px){
    nav{
        width: 100%;
        height: 8%;
        padding: 2px 10px;
    }
    nav .logo{
        font-size: 26px;
    }
    nav .login{
        justify-content:space-around;
    }
    #container{
        width: 100%;
        height: 100vh;
    }
    hr{
        height: 3px;
        /* background-color: var(--colour1); */
        /* border-color: none; */
    }
    #main{
        height: 85%;
        padding: 20px 5px 0 5px;
    }

    .context-1,.context-2{
        flex-basis: 100%;
        margin: 0px 10px;
        padding: 1px 5px;
    }
    .context-1{
        height: 100px;
    }
    .context-2{
        display: none;
        height: 220px;
        z-index: 1;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        background-image: none;
    }
    .context-1 .sub-head h1{
        font-size: 30px;
        color: var(--colour1);
    }
    .sub-head{
        height: 100%;
    }
    .context-1 .sub-head h2{
        font-size: 18px;
        margin-top: 2px;
        color: var(--colour1);
    }
    .context-1 .sub-head p{
        font-size: 12px;
        margin-top: 10px;

    }
    .box{
        height: 440px;
        justify-content:space-evenly;
        padding-top: 20px;
        /* flex-wrap: wrap; */
    }
    .box .bb{
        width: 140px;
        height: 130px;
        /* margin-bottom: 4px; */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .box .bb .part-1{
        font-size: 9px;
        letter-spacing: 1.2px;
        text-align: center;
    }   
    .box .bb .part-2{
       font-size: 10px ;
       padding: 18px 10px 0px 10px;
       text-align: center;
    }
    .box .bb .cir-img{
        top: -70%;
        left: 40%;
        width: 25px;
        height: 25px;
    }
    .mid-text{
        /* display: none; */
        margin-top: 6%;
        margin-left: 0;
        font-size: 12px;
        /* padding: 1px 0px; */
        /* background-color:tomato; */
    }
    #links{
        width: 100%;
        display: flex;
        height: 100vh;
        padding: 12px;
        font-size: 12px;
    }
    .ss{
        width: 320px;
        /* height: 20; */
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
        gap: 0;
    }
    .item{
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
        justify-content: space-evenly;
        padding: 20px 0%;
        align-items: flex-start;
    }
    .syll .sub-title{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .syll{
        width: 100%;   
        height: 100%;
        display: block;
    }
    .syll h3{
        width: fit-content;
        font-size: 24px;
    }
    .page3{
        width: 100%;
        height: 100vh;
        padding: 50px 0 0 35px;
    }
    .py{
        text-align:justify;
        margin-bottom: 10px;
    }
    .page3 a {
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    .page3 li{
        padding-top: 10px;
        margin-left: 10px;
    }
    .page3 p{
        padding: 2px 20px 0 0;
    }
    .page3 h3{
        text-transform: capitalize;
        color: var(--colour1);
        margin-top: 20px;
    }
    #page2{
        height: 100vh;
        width: 100%;
        padding: 12px;
    }
    .rowsss{
        height: 80%;
    }
    .sub-title{
        font-size: 32px;
        }
    .contact-left,.contact-right{
        flex-basis: 100%;
        padding: 10px 10px;
    }
    .contact-left{
        width: 100%;
        height: 40%;
    }
    .contact-right{
        height: 30%;
    }
    .btn{
        margin: 20px 0;
        padding: 6px 8px;
        width: 140px;
        height: 40px;
        text-align: center;
        font-size: 32px;
    }
    .btn2{
        font-size: 12px;
        text-align: center;
    }
    .btn.btn2{
        text-align: center;
        padding: 6px 8px;
        font-size: 18px;
    }
    form{
        height: 40%;
    }
    form input,form textarea{
        width: 100%;
        font-size: 16px;
        margin: 5px 1px;
        padding: 14px 16px;
    }
    .copyright{
        width: 100%;
        height: 50px;
        font-size: 16px;
        padding-top: 12px;
        text-align: center;
    }
}