*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: rgb(154, 173, 214);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30%;
    height: 80%;
    background-color: rgb(243, 243, 243);
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 20px;
    padding: 50px 50px;
    box-shadow: 1px 1px 50px black;
    text-align: center;
    transition: 0.5s;
}
.box:hover{
    box-shadow: 1px 1px 50px rgb(0, 40, 126);
}
.box h1{
    font-family: sans-serif;
    color: rgb(77, 77, 77);
}
.box p{
    margin-top: 50px;
    color: rgb(46, 46, 46);
    font-size: 15px;
}
.box span{
    color: rgb(22, 49, 202);
    font-weight: 500;
    text-transform: capitalize;
}
form{
    width: 100%;
    display: grid;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

form input{
    width: 100%;
    height: 50px;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 10px gray ;
    font-family: sans-serif;
}

form button{
    width: 100%;
    height: 50px;
    border: 0;
    color: white;
    font-size: 18px;
    background-color: rgba(40, 83, 177, 0.932);
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgb(0, 0, 0) ;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}
/* form button:hover{
    background-color: rgb(30, 30, 170);
    transform: scale(95%);        
}  */

@media only screen and (max-width: 600px){
    .box{
        width: 80%;
        height: 55%;
        padding: 50px 25px;
        margin-bottom: 100px;

    }
    .box p{
        margin-top: 20px;
    }
    form input{
        height: 40px;
        font-size: 14px;
        padding: 0 14px;
    }
    form{
        margin-top: 20px;
    }
    form button{
        margin-top: 10px;
    }
    
  
}