*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    height: 100vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center ;
}
.box1{
    width: 150px;
    height: 180px;
    background-color:rgb(253, 185, 173);
    border-radius: 20px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    box-shadow: 0px 4px 10px tomato;
}
.box1 h1{
    margin: 20px 0 14px;
}
.box1 h2{
    margin-bottom: 4px;
}
.box1 p{
    font-size: 14px;
    margin: 0 10px;
}